:root {
    padding: 0px;
    margin: 0px;

    --white-color: #fff;
    --black-color: #191B1C;

    --accent-color-10: #cdf5672d;
    --accent-color-50: #cdf5677a;
    --accent-color: #CDF567;
    --accent-color-light: #D7F785;
    --accent-color-hover: #B8DC5D;
    --accent-color-dark: #9AB84D;

    --green-color: #5EE29D;
    --yellow-color: #FECE78;
    
    --purple-color-light: #C9B7EC;
    --purple-color: #8C4CEB;
    --purple-color-dark: #462676;
    
    --grey-color-darker: #30363D;
    --grey-color-dark: #4B5259;
    --grey-color: #646A71;
    --grey-color-light: #80858B;
    --grey-color-lighter: #9AA0A8;

}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
h1 {
    color: var(--purple-color);
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}
#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: var(--black-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
}




.btn {
    width: 100%;
    max-width: 200px;
    min-width: none;
    height: 57px;

    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}
.primary {
    background-color: var(--accent-color);
    color: var(--black-color);
    border: 1px solid var(--black-color);
}
.primary:hover {
    background-color: var(--accent-color-hover);
}


.upload-card {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--black-color);
    background-color: var(--accent-color-50);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px var(--black-color);
  }
  
  .upload-card .upload-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upload-card .upload-icon svg {
    height: 80px;
    fill: var(--black-color);
  }
  
  .upload-card .upload-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upload-card .upload-text span {
    font-weight: 400;
    color: var(--black-color);
  }
  
  .upload-card input {
    display: none;
  }
