:root {
    padding: 0px;
    margin: 0px;

    --white-color: #fff;
    --black-color: #191B1C;

    --accent-color-10: #cdf5672d;
    --accent-color-50: #cdf5677a;
    --accent-color: #CDF567;
    --accent-color-light: #D7F785;
    --accent-color-hover: #B8DC5D;
    --accent-color-dark: #9AB84D;

    --green-color: #5EE29D;
    --yellow-color: #FECE78;
    
    --purple-color-light: #C9B7EC;
    --purple-color: #8C4CEB;
    --purple-color-dark: #462676;
    
    --grey-color-darker: #30363D;
    --grey-color-dark: #4B5259;
    --grey-color: #646A71;
    --grey-color-light: #80858B;
    --grey-color-lighter: #9AA0A8;

}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
h1 {
    background-clip: border-box;
    background: linear-gradient(to right, #65D80D, #CDF567);
    -webkit-background-clip: text;
    color: transparent;
}
.wrapper {
    background-color: white;
    color: var(--black-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    width: 80%;
    max-width: 400px;

    color: var(--black-color);
    background-color: var(--accent-color-50);
    border: 1px solid var(--accent-color);
    backdrop-filter: blur(3px);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% auto;
    padding: 20px;
  }
  .close {
    color: var(--black-color);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .close:hover,
  .close:focus {
    color: var(--grey-color);
    text-decoration: none;
    cursor: pointer;
  }




.btn {
    width: 100%;
    max-width: 200px;
    min-width: none;
    height: 57px;

    border-radius: 15px;
    padding: 20px;
    margin: 25px;
    margin-bottom: 50px;
}
.primary {
    background-color: var(--accent-color);
    color: var(--black-color);
    border: 1px solid var(--black-color);
}
.primary:hover {
    background-color: var(--accent-color-hover);
}


.upload-card {
    height: 200px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 10px;
    gap: 20px;

    border: 2px dashed var(--black-color);
    background-color: var(--accent-color-50);
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px var(--black-color);
    cursor: pointer;
  }
  
  .upload-card .upload-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upload-card .upload-icon svg {
    height: 80px;
    fill: var(--black-color);
  }
  
  .upload-card .upload-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upload-card .upload-text span {
    font-weight: 400;
    color: var(--black-color);
  }
  
  .upload-card input {
    display: none;
  }
